
.classImages img {
  margin: 0 60px;
}

.classText {
  text-align:left;

}

.outerDiv {
    width: 60%;
    margin:auto;
    display:grid;
    
}
.image1 {
   justify-self:left;
}
.image2{
    justify-self: right;
}