.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.2);
    display: flex;
    justify-content:center;
    align-items:center;
}

.popup-inner{
    position:relative;
    padding: 32px;
    max-width: 600px;
    background-color: white;
}
.close-btn {
    width: 25px;
    height: 25px;
    text-align:center;
    position:absolute;
    top: 16px;
    right: 16px;
}


