* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.outer-box {
    margin-top:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
form {
    width: 90%;
    max-width: 600px;
}
.input-stuff{
    margin-bottom:30px;
    position:relative;
}

input, textarea {
    width:100%;
    padding:10px;
    border:1;
    outline:1;
    font-size:15px;
    outline-color: #ba9d0d;
    border-radius: 10px;
}
textarea {
    resize: none;
}
input:focus {
    outline-color:#ba9d0d;
}

label {
    height: 100%;
    position:absolute;
    left:0;
    top:0;
    padding:10px;
    cursor:text;
    transition: 0.2s;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label  {
    top:-35px;
    font-size:14px;
}


.submit {
    padding: 10px 0;
    color: #ba9d0d;
    outline:none;
    border: 1px solid #ba9d0d;
    width: 100%;
    cursor: pointer;
    border-radius:10px;
}

.row {
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.row .input-stuff{
    flex-basis:50%;
}